<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
    <header class="header">
        iRally
    </header>

    <div class="wrapper">
        @RenderBody()
        <div class="push"></div>
    </div>

    <footer class="footer">
        Copyrights©2020 All Rights Reserved
    </footer>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
