@model iRally.Model.UserInfo

@{
    ViewData["Title"] = "パスワード変更";
}

<h1>パスワードの強制変更</h1>

<h3>パスワードをユーザーIDと別の値に設定してください。</h3>
<label asp-for="UserId">@*@Model.UserId*@</label>
<form>
    <div class="form">
        <label asp-for="Password">パスワード</label>
    </div>
    <div class="form">
        <input asp-for="Password" type="password" class="form-control" placeholder="新しいパスワードを入力"><br />
    </div>
    <div class="form">
        <input asp-for="Password" type="password" class="form-control" placeholder="新しいパスワードを入力">
        <span asp-validation-for="Password"></span>
    </div>
    <button type="submit" class="btn btn-primary">変更</button>
</form>